{% extends 'base.html' %}

{% block title %}FUTURE WEAR{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="row g-4 gy-5">
        {% for produto in produtos %}
        <div class="col-6 col-md-4 col-lg-2">
            <a href="{% url 'detalhe_produto' produto.id %}" class="produto-card">
                {% if produto.imagem %}
                    <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" class="produto-img">
                {% else %}
                    <div class="produto-img produto-sem-imagem"><span>SEM IMAGEM</span></div>
                {% endif %}
                <h3 class="produto-nome">{{ produto.nome }}</h3>
                <p class="produto-preco">R$ {{ produto.preco }}</p>
            </a>
        </div>
        {% empty %}
        <div class="col-12 text-center py-5">
            <p class="text-secondary">NENHUM PRODUTO CADASTRADO.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}